# Manipulate using a list
i)To add new elements to the end of the list
ii)To reverse elements in the list
iii)To display the same list of elements multiple times
iv)To concatenate two list
v)To sort the elements in the list in ascending order

In [5]:
#i)To add new elements to the end of the list


my_list=[6,7,8]
my_list.append(9)
print(my_list)

[6, 7, 8, 9]

In [6]:
#ii)To reverse elements in the list

my_list=[1,2,3,4,5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [8]:
#iii)To display the same list of elements multiple times

my_list=[1,2,3]
repeated_list=my_list*4
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
#iv)To concatenate two list

list1=[3,4,5]
list2=[6,7,8]
concatenate_list=list1+list2
print(concatenate_list)

[3, 4, 5, 6, 7, 8]

In [14]:
#v)To sort the elements in the list in ascending order
list=[5,3,8,9,4,1]
print(list.sort())
print(list)

None
[1, 3, 4, 5, 8, 9]

# 2.Write a python program to do in tuples
i)Manipulate using tuples
ii)To add new elements to the end of the tuples
iii)To reverse elements in the list
iv)To display the elements of the same tuple multiple times
v)To concatenate two tuples
vi)To sort the elements in the list in ascending order

In [20]:
#i)Manipulate using tuples

my_tuple=(40,"python", 4.12)   #tuple cannot be changed once created so to manipulate it we can take list and convert it
my_list=[30, "jupyter", 4.12]
my_tuple=tuple(my_list)
print(my_tuple)

(30, 'jupyter', 4.12)

In [27]:
#ii)To add new elements to the end of the tuples
n=(4,5,6)
append=(7,8,9)
n_append=my_tuple+append
print(my_tuple_append)

(4, 5, 6, 7, 8, 9)

In [28]:
#iii)To reverse elements in the list
my_list=[1,2,3,4,5,6,7,8,9]
my_list.reverse()
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
#iv)To display the elements of the same tuple multiple times
my_tuple=(6,7,8,9)
N=3
rep=((my_tuple, ) *N) 
print(rep)

((6, 7, 8, 9), (6, 7, 8, 9), (6, 7, 8, 9))

In [35]:
#v)To concatenate two tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
concatenate_tuple=tuple1+tuple2
print(concatenate_tuple)

(1, 2, 3, 4, 5, 6)

In [36]:
#vi)To sort the elements in the list in ascending order
my_list=[6,4,5,3,2,9,45]
my_list.sort()
print(my_list)

[2, 3, 4, 5, 6, 9, 45]

# 3.Write a python program to implement the following using list
i)Create a list with integers(minimum 10 numbers)
ii)How to display the last number in the list
iii)Command for displaying the values from the list[0:4]
iv)Command for displaying the values from the list[2:]
v)Command for displaying the values from the list[:6]

In [41]:
#)i)Create a list with integers(minimum 10 numbers)
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
#ii)How to display the last number in the list 
last_number=my_list[-1]
print(last_number)

10

In [51]:
#iii)Command for displaying the values from the list[0:4]
my_list=[1,2,3,4,5,6,7,8,9,10]
values=my_list[0:4]
print(values)

[1, 2, 3, 4]

In [55]:
#iv)Command for displaying the values from the list[2:]
my_list=[1,77,3,4,5,6,7,8,9,10]
values=my_list[2:]
print(values)

[3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#vi)Command for displaying the values from the list[:6]
my_list=[1,2,3,4,5,9,7,8,9,10] #doubt about countin
values=my_list[:6]
print(values)

[1, 2, 3, 4, 5, 9]

# 4.Write a python program:tuple1=(10,50,20,40,30)
    i.To dispaly the elements 10 and 50 from tuple1
    ii.To display the length of a tuple1.
    iii.To find the minimum element from tuple1
    iv.To add all elements in the tuple1
    v.To display the same tuple1 multiple times

In [63]:
#i.To dispaly the elements 10 and 50 from tuple1

my_tuple1=(10,50,20,40,30)

print(my_tuple1)

(10, 50, 20, 40, 30)

In [58]:
#ii.To display the length of a tuple1.
my_tuple1=(10,50,20,40,30)
tuple_length=len(my_tuple1)
print(tuple_length)

5

In [59]:
#iii.To find the minimum element from tuple1
minimum_element=min(my_tuple1)
print(minimum_element)

10

In [61]:
#iv.To add all elements in the tuple1
total=sum(my_tuple1)
print(total)

150

In [65]:
#v.To display the same tuple1 multiple times
N=4
rep=((my_tuple1, ) *N) 
print(rep)

((10, 50, 20, 40, 30), (10, 50, 20, 40, 30), (10, 50, 20, 40, 30), (10, 50, 20, 40, 30))

#    5.Write a python Program
    i.To calculate the length of a string
    ii.To reverse words in string
    iii.To display the same string multiple times
    iv.To concatenate two strings
    v.str1="South India", using string slicing to display "India"

In [66]:
#i.To calculate the length of a string
my_string="python program"
string_length=len(my_string)
print(string_length)

14

In [75]:
#.ii.To reverse words in string
my_string[:: -1]

'margorp nohtyp'

In [78]:
#iii.To display the same string multiple times
my_string * 3

'python programpython programpython program'

In [81]:
#iv.To concatenate two strings
my_string2="jupyter"
my_string1=my_string+my_string2
print(my_string1)

python programjupyter

In [82]:
#v.str1="South India", using string slicing to display "India"
str1="south india"
str1[6 :]

'india'

# 6.perform the following
i)creating the dictionary
ii)Accesing values and keys in the dictionary
iii)updating the dictionary using function
iv)clear and delete the dictionary values

In [83]:
#i)creating the dictionary
dict={ 1: 'python',2:'is a',3:'programming lang'}
print(dict)

{1: 'python', 2: 'is a', 3: 'programming lang'}

In [88]:
#ii)Accesing values and keys in the dictionary
{"name":"python"}.get("name")
{"va":"is"}.get("va")

'is'

In [91]:
#iii)updating the dictionary using function
dict.update({4:"it is easy"})//why common bracket
print(dict)

{1: 'python', 2: 'is a', 3: 'programming lang', 4: 'it is easy'}

In [100]:
#iv)clear and delete the dictionary values
dict={ 1: 'python',2:'is a',3:'programming lang'}
dict.clear()
print(dict)

{}

# 7.python program to insert a number to any poistion in a list

In [107]:
#python program to insert a number to any poistion in a list
l1=[3,5,6,7]
l1.insert(4,9)//by using insert methond i added 9 in 4th pos
l1

[3, 5, 6, 7, 9]

# 8 python program to delete an element from a list by index

In [109]:
#python program to delete an element from a list by index
a=[1,2,3,4]
a.pop(2)//to delete

3

# 9 write a program to display a number from 1 to 100

In [10]:
#9 write a program to display a number from 1 to 100
for i in range(1,101):print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find sum of items in a tuple

In [9]:
#Write a python program to find sum of items in a tuple
t1=(3,4,5,6)
sum=sum(t1)
print(sum)

18

In [21]:
11.Create a dictionary containing three lambda functions sqaure,cube and square root
i)e.g dict={'square':function for squaring, 'cube':function for cube,'squareroot':function for sqaure root}
ii)pass the values(input from the user)to functions in the dictionary respectively
iii)Then add the outputs of each function and print it

SyntaxError: invalid decimal literal (1259273392.py, line 1)

In [27]:
#i)e.g dict={'square':function for squaring, 'cube':function for cube,'squareroot':function for sqaure root}

dict{"square": "function for squaring",  "cube": 'function for cube', "squareroot":'function for sqaure root'}
print(dict)

SyntaxError: invalid syntax (2143093225.py, line 3)

In [28]:
ii:

SyntaxError: invalid syntax (3366499391.py, line 1)

In [ ]:
iii:

# 12  A list of words is given.Find the words from the list that have their second character in uppercase 
ls=['hello'.'Dear','hOw','ARe', 'You']

In [ ]:
#A list of words is given.Find the words from the list that have their second character in uppercase¶

ls1=['hello','Dear','hOw','ARe','You']
for i in ls1:
    if i[1].isupper():
        ls1.append(i)
    print(ls1)

# 13A dictionary of names and their weights on earth give.find how much they will weigh on the moon(use map and lambda function)formula
:vmoon=(wEarth*GMoon)/GEarth
    i)#Weight of people in kg
    . WeightonEarth={'john':45,'shelly':65,'Marry':35}
    #Gravitational force on the moon 1.622m/s2
    .GMoon=1.622
    #Gravitational force on the earth :9.81m/s2
    .GEarth=9.81

# CONTROL STRUCTURES
1.Wrire a python program to find the first N Prime numbers

In [ ]:
#1.Wrire a python program to find the first N Prime numbers

Number=int(input("enter a range: "))
print("prime number" end='')
for n in range(1,Number):#Start,end-1,step value
    for i in range(2,n):#this loop is check number is even or nt
        if(n%i==0):
             break
    else:
             print(n,end=',')

In [6]:
#2.write a python code that calculates the salary of an employee .Prompt the user to enter the basic salary ,HRA,TA, and DA.Add these components to calculate the gross salary also deduct 10% of salary from the gross salary to be paid as tax and dispaly gross minus tax as net salary
   hra = 0.2 * basic
    da = 0.5 * basic
    pf = 0.11 * basic 
    # Condition to compute the
    # allowance for the person
    if grade == 'A':
        allowance = 1700.0
    elif grade == 'B':
        allowance = 1500.0
    else:
        allowance = 1300.0;
    gross = round(basic + hra + da +allowance-pf)              
    return gross
if _name_ == '__main__': 
    basic = 10000
    grade = 'A' 
print(computeSalary(basic, grade));

IndentationError: unexpected indent (740610128.py, line 2)

In [8]:
#3 Write a python program to search for a string in the given list
l=[1,8.2, 'have','a','good','pgm'] //list
s='g'
if s in l:#assign
 print(f'{s} is present in the string')#f  formatted string
else:
 print(f'{s} isnot present in the string')

g isnot present in the string

In [12]:
#4 Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters

string="Python For DataScience"
lower=0
upper=0
for i in string:
    if(i.islower()):
        
    else:
        upper+=1
print("the lowecase letter is",lower)
print("the uppercase letter is",upper)

the lowecase letter is 16
the uppercase letter is 6

In [14]:
#5 Write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37
sum_odd=0
sum_even=0
for number in range(12,38):
    if number%2==0:
        sum_even+=number
    else:
        sum_odd+=number
print("sum of even numbers",sum_even)
print("sum of odd numbers",sum_odd)

sum of even numbers 312
sum of odd numbers 325

In [1]:
# 6 Write a python program to print the table of any number
n=int(input("enter the number to print the table for:"))
for i in range(1,11):
    print(n,"x",i, "=",n*i)

enter the number to print the table for:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [2]:
#7 Write a python program to sum the first 10 prime numbers
num=input("enter number value")
num=int(num)
sum=0
for i in range(2,num+1):
    for j in range(2,i):
        if(i%j==0):
          break
    else:
       print(i,"is prime")
       sum=sum+i
print("sum of prime number is",sum)

enter number value10
2 is prime
3 is prime
5 is prime
7 is prime
sum of prime number is 17

In [3]:
#8 Write a python program to implement arithmetic operations using nested if statement
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")
if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:  # Check for division by zero
        result = num1 / num2
    else:
        result = "Division by zero is not allowed"
else:
    result = "Invalid operator"

print("Result:", result)

Enter the first number: 23
Enter the second number: 34
Enter an operator (+, -, *, /): +
Result: 57.0

In [4]:
#9 Write a python program to take the temperature in Celsius and convert it to a fahrenheit
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
10
Temperature in Fahrenheit : 50.0

In [6]:
#10 Write a python program to find a maximum and minimum number in a list without using an inbuilt function
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15,-5,77,23,6,99,-3]))

(99, -5)

In [7]:
#11Write a program in python to print out the number of seconds in 30-day month 30 days,24 hours in a day,60minutesperday,60seconds in a time
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

# Calculate the number of seconds in 30 days
seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

# Display the result
print(f"Number of seconds in 30 days: {seconds_in_30_days}")

Number of seconds in 30 days: 2592000

In [9]:
#12Write a program  to print out the number of seconds in a year
days = 365
hours = 24
mins = 60
secs = 60
secsInYear = days * hours * mins * secs
print("Number of seconds in a year=", secsInYear)

Number of seconds in a year= 31536000

In [10]:
#13 A Highspeed train can travel at an average speed of 150mph,how long will it take a train travelling at this speed to travel from 
#london to glassgow which is 414miles away?
average_speed_mph = 150  # Average speed of the train in mph
distance_miles = 414     # Distance from London to Glasgow in miles

# Calculate the time in hours
time_hours = distance_miles / average_speed_mph

# Display the result
print(f"A high-speed train traveling at {average_speed_mph} mph would take {time_hours:.2f} hours to travel from London to Glasgow.")

A high-speed train traveling at 150 mph would take 2.76 hours to travel from London to Glasgow.

In [ ]:
#14 Write a python that defines a variable called days_in_each_school and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year11,if each day you spend 6 hours in school days_in_each_school_year=192

In [11]:
#15 if the age of ram,sam and khan are input through the keyboard ,write a python program to determine the eldest and youngest of the three
age1 = int(input("Enter the Age of Ram :"))
age2 = int(input("Enter the Age of Sam :"))
age3 = int(input("Enter the Age of Khan :"))
if(age1<age2 and age1<age3):
	print("The Youngest Age is Ram")
elif(age2<age1 and age2<age3):
	print("The Youngest Age is Sam")
else:
	print("The Youngest Age is Khan")

Enter the Age of Ram :26
Enter the Age of Sam :34
Enter the Age of Khan :56
The Youngest Age is Ram

In [2]:
## 16Write a python program to rotate a list by right n times with and without slicing technique
#using slicing technique
def rotate_right_with_slicing(lst, n):
    n = n % len(lst)  # Handle cases where n is greater than the length of the list
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Input list and number of rotations
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of rotations: "))

rotated_list = rotate_right_with_slicing(my_list, n)
print("Rotated list with slicing technique:", rotated_list)

Enter the number of rotations: 3
Rotated list with slicing technique: [3, 4, 5, 1, 2]

In [1]:
#without using slicing technique
def rotate_right_without_slicing(lst, n):
    n = n % len(lst)  # Handle cases where n is greater than the length of the list
    for _ in range(n):
        lst.insert(0, lst.pop())

# Input list and number of rotations
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of rotations: "))

rotate_right_without_slicing(my_list, n)
print("Rotated list without slicing technique:", my_list)

Enter the number of rotations: 3
Rotated list without slicing technique: [3, 4, 5, 1, 2]

In [ ]:
#17.python program to print the patterns given below